{% extends "layout.html" %}

{% block title %}
Tweeter Django
{% endblock %}

{% block content %}

<h1 class="text-center mt-4">Welcome to Tweeter Django Project</h1>

<a class="btn btn-primary mb-4" href="{% url 'tweet_create' %}">Create a tweet</a>

{% if query %}
    <p>Search results for: "<strong>{{ query }}</strong>"</p>
{% endif %}

<div class="container row gap-3">
    {% for tweet in tweets %}
    <div class="card" style="width: 18rem;">
        {% if tweet.photo %}
            <img src="{{ tweet.photo.url }}" class="card-img-top" alt="Tweet photo">
        {% else %}
            <div class="card-img-top bg-secondary text-white d-flex align-items-center justify-content-center" style="height: 200px;">
                <p>No Image</p>
            </div>
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">{{ tweet.user.username }}</h5>
            <p class="card-text">{{ tweet.text }}</p>
            {% if tweet.user == user %}
            <a href="{% url 'tweet_edit' tweet.id %}" class="btn btn-primary">Edit</a>
            <a href="{% url 'tweet_delete' tweet.id %}" class="btn btn-danger">Delete</a>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>

{% if not tweets %}
    <p class="text-center mt-4">No tweets found.</p>
{% endif %}

{% endblock %}
